<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/images/uploads/vondME_Branco.png" alt="{{ $.Site.Title }} logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ T "subscribe-newsletter" }}</p>
			<p>{{ T "subscribe-description" $.Site }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between mb4">

			{{ $lang := $.Site.Language.Lang }}
			<div class="mb3">
				<h3 class="f4 b lh-title mb1 primary">{{ $.Site.Title }}</h3>
				<ul>
					<li><a href="/{{ $lang }}" class="link">{{ T "home" }}</a></li>
					<li><a href="/{{ $lang }}/about" class="link">{{ T "about" }}</a></li>
					<li><a href="/{{ $lang }}/solutions" class="link">{{ T "solutions" }}</a></li>
					<!-- <li><a href="/{{ $lang }}/post" class="link">{{ T "blog" }}</a></li> -->
					<li><a href="/{{ $lang }}/contact" class="link">{{ T "contact" }}</a></li>
				</ul>
			</div>

			<div class="mb3">
				<h3 class="f4 b lh-title mb1 primary">{{ T "find-out-more" }}</h3>
				<ul>
					<li><a href="https://vond.page.link/app" target="_blank" class="link">{{ T "last-offers" }}</a></li>
					<li><a href="/{{ $lang }}/contact" class="link">{{ T "get-in-touch" }}</a></li>
				</ul>
			</div>

			<div class="flex-ns flex-column-ns justify-between">
        <div class="mb3">
          <h3 class="f4 b lh-title mb2 primary">{{ T "social-media" }}</h3>
          <ul class="mhn2">
            {{ partial "social-icon" (dict "link" "https://www.facebook.com/vondme-458561551243605/" "svg" "icons-facebook") }}
            <!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }} -->
            {{ partial "social-icon" (dict "link" "https://www.instagram.com/vondme_/" "svg" "icons-instagram") }}
            <!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }} -->
          </ul>
        </div>

        <div>
            <h3 class="f4 b lh-title mb2 primary">{{ T "app" }}</h3>
            <div class="mw4 mw5-ns flex-ns justify-between items-center">
              <div class="mr1-ns">
                <a 
                  href="https://play.google.com/store/apps/details?id=com.wevond.vondme"
                  target="_blank"
                >
                  <img 
                    alt="{{ T "google-play" }}"
                    src="/images/uploads/get-it-on-google-play_{{ cond (eq .Language.Lang "pt") "pt-br" "us" }}.png"
                  />
                </a>
              </div>
              <div class="ml1-ns">
                <a
                  href="https://apps.apple.com/us/app/vondme-marketplace/id1484868517"
                  target="_blank"
                >
                  <img
                    alt="{{ T "app-store" }}"
                    src="/images/uploads/download-on-the-app-store_{{ cond (eq .Language.Lang "pt") "pt-br" "us" }}.png"
                  />
                </a>
              </div>
            </div>
          </div>
			</div>

    </div>
    
    <div class="flex-ns flex-column flex-row-ns justify-between items-center">

      <ul class="mb3">
        <li class="f6">&copy; 2018-2019 Wevond Company. {{ T "all-rights-reserved" }}.</li>
        <li class="f6">Av. Cap. Mor Gouveia, 3000 - Lagoa Nova, Natal - RN, 59078-970</li>
        <li>
          <a href="https://sobre.vond.me/termosdeuso" class="f6">{{ T "terms-of-use" }}</a> -
          <a href="https://sobre.vond.me/termosdeprivacidade" class="f6">{{ T "privacy-policy" }}</a></li>
      </ul>
      
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
