<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/images/uploads/logo-f.svg" alt="Vond.me logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Assine a nossa newsletter</p>
			<p>Receba novidade sobre a Vond.me no seu inbox. Seja o primeiro a aprender sobre novas ideas.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between mb4">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Vond.me</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Início</a></li>
					<li><a href="/values" class="link">Sobre</a></li>
					<li><a href="/products" class="link">Benefícios</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Descubra mais</h3>
				<ul class="mb3">
					<li><a href="https://compre.vond.me" target="_blank" class="link">Últimas ofertas</a></li>
					<li><a href="/contact" class="link">Entre em contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Redes sociais</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/vondme-458561551243605/" "svg" "icons-facebook") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }} -->
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/vond.me/" "svg" "icons-instagram") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }} -->
				</ul>
			</div>

    </div>
    
    <div class="flex-ns justify-between items-end">

			<div>
				<ul class="mb3">
					<li class="f6">Wevond Company &copy; 2018 - 2019</lic>
					<li class="f6">Av. Cap. Mor Gouveia, 3000 - Lagoa Nova, Natal - RN, 59078-970</li>
				</ul>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
