<style>
:root {
  --transition-time: 0.3s;
}

.custom-wrapper {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  height: 3.5rem;
  -webkit-transition: height var(--transition-time);
  -moz-transition: height var(--transition-time);
  -ms-transition: height var(--transition-time);
  transition: height var(--transition-time);
}

.custom-wrapper.open {
  height: 21.2rem;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  display: block;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    border-radius: 100px;
    -webkit-transition: all var(--transition-time);
    -moz-transition: all var(--transition-time);
    -ms-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cta {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--white);
}

@media screen and (min-width: 60rem) {
  .custom-toggle {
    display: none;
  }
}

@media screen and (max-width: 60rem) {
  .custom-wrapper {
    height: 3.8rem;
  }

  .it {
    display: none;
  }

  .cta {
    padding: 1rem;
  }
}

@media screen and (min-width: 60rem) and (max-width: 1317px) {
  .cta {
    padding-top: .25rem;
  }
}
</style>

<nav class="fixed top-0 left-0 w-100 z-9999">
  
  <div id="menu"  class="custom-wrapper flex flex-column flex-row-l justify-start justify-between-l items-start center bg-white divider-grey relative">
    <div class="flex w-100 justify-between items-center z-1">
      <a href="/{{ $.Site.Language }}" class="pa3 db w4">
        <img src="/images/uploads/logo.svg" alt="{{ $.Site.Title }} logo" class="db w-100"/>
      </a>

      <a href="#" class="custom-toggle pa3 db" id="toggle"><s class="bar"></s><s class="bar"></s></a>
    </div>

    <ul class="flex flex-column flex-row-l justify-end b grey-3 w-100">
      <li><a id="about" href="/{{ $.Site.Language }}/about" class="it db pa3 no-underline">{{ T "about" }}</a></li>
      
      <li><a id="solutions" href="/{{ $.Site.Language }}/solutions" class="it db pa3 no-underline">{{ T "solutions" }}</a></li>

      <li><a id="blog" href="/{{ $.Site.Language }}/post" class="it db pa3 no-underline">{{ T "blog" }}</a></li>

      <li><a id="contact" href="/{{ $.Site.Language }}/contact" class="it db pa3 no-underline">{{ T "contact" }}</a></li>

      <li><a href="https://vendedor.vond.me" target="_blank" class="it cta db pa3 no-underline">{{ T "cta" }}</a></li>
    </ul>
  </div>
</nav>

<script>
(function (window, document) {
var menu = document.getElementById('menu'),
  aboutItem = document.getElementById('about'),
  solutionsItem = document.getElementById('solutions'),
  blogItem = document.getElementById('blog'),
  contactItem = document.getElementById('contact'),
  ctaItem = document.querySelector('.cta'),
  WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

function toggleMenu() {
  menu.classList.toggle('open');

  aboutItem.classList.toggle('it');
  solutionsItem.classList.toggle('it');
  blogItem.classList.toggle('it');
  contactItem.classList.toggle('it');
  ctaItem.classList.toggle('it');

  document.getElementById('toggle').classList.toggle('x');
};

function closeMenu() {
  if (menu.classList.contains('open')) {
    toggleMenu();
  }
}

document.getElementById('toggle').addEventListener('click', function (e) {
  toggleMenu();
  e.preventDefault();
});

window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
})(this, this.document);

</script>
