<!-- <nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative"> -->

	<!-- Logo -->
	<!-- <a href="/" class="pa3 db mr4 h-100 w4 flex-none">
    <img src="/images/uploads/logo.svg" alt="Vond.me logo" class="br0 db mb0 w-100"/>
	</a> -->

	<!-- Primary Nav -->
	<!-- <ul class="flex b grey-3">
    <li><a href="/about" class="pa3 no-underline db">Sobre</a></li>
    
		<li><a href="/benefits" class="pa3 no-underline db">Benefícios</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contato</a></li>
	</ul>

</nav> -->

<style>
:root {
  --transition-time: 0.3s;
}

.custom-wrapper {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  height: 3.5em;
  -webkit-transition: height var(--transition-time);
  -moz-transition: height var(--transition-time);
  -ms-transition: height var(--transition-time);
  transition: height var(--transition-time);
}

.custom-wrapper.open {
  height: 17.9em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  display: block;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 2em;
    right: 1.5em;
    border-radius: 100px;
    -webkit-transition: all var(--transition-time);
    -moz-transition: all var(--transition-time);
    -ms-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (min-width: 60em) {
  .custom-toggle {
    display: none;
  }
}
</style>

<nav id="menu" class="custom-wrapper flex flex-column flex-row-l justify-start justify-between-ns items-start center bg-white divider-grey relative">
  
  <div class="flex w-100 justify-between items-center">
    <a href="/" class="pa3 db w4">
      <img src="/images/uploads/logo.svg" alt="Vond.me logo" class="br0 db mb0 w-100"/>
    </a>

    <a href="#" class="custom-toggle pa3 db" id="toggle"><s class="bar"></s><s class="bar"></s></a>
  </div>

  <ul class="flex flex-column flex-row-l justify-end b grey-3 w-100">
    <li><a href="/about" class="pa3 no-underline db">Sobre</a></li>
    
    <li><a href="/benefits" class="pa3 no-underline db">Benefícios</a></li>

    <li><a href="/post" class="pa3 no-underline db">Blog</a></li>

    <li><a href="/contact" class="pa3 no-underline db">Contato</a></li>
  </ul>

</nav>

<script>
(function (window, document) {
var menu = document.getElementById('menu'),
  WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

function toggleMenu() {
  menu.classList.toggle('open');
  document.getElementById('toggle').classList.toggle('x');
};

function closeMenu() {
  if (menu.classList.contains('open')) {
    toggleMenu();
  }
}

document.getElementById('toggle').addEventListener('click', function (e) {
  toggleMenu();
  e.preventDefault();
});

window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
})(this, this.document);

</script>
