<style>
:root {
  --transition-time: 0.3s;
}

.custom-wrapper {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  height: 3.5rem;
  -webkit-transition: height var(--transition-time);
  -moz-transition: height var(--transition-time);
  -ms-transition: height var(--transition-time);
  transition: height var(--transition-time);
}

.custom-wrapper.open {
  height: 24.7rem; /** n * 3.5rem, where n is the number of items from navbar */
}

.custom-toggle {
  cursor: pointer;
  width: 3.8rem;
  height: 3.8rem;
  display: block;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    border-radius: 100px;
    -webkit-transition: all var(--transition-time);
    -moz-transition: all var(--transition-time);
    -ms-transition: all var(--transition-time);
    transition: all var(--transition-time);
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cta {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--white);
}

.active {
  background-color: var(--black);
  color: var(--white);
}

@media screen and (min-width: 60rem) {
  .custom-toggle {
    display: none;
  }
}

@media screen and (max-width: 60rem) {
  .custom-wrapper {
    height: 3.8rem;
  }

  .it {
    display: none;
  }

  .cta {
    padding: 1rem;
  }
}

@media screen and (min-width: 60rem) and (max-width: 1317px) {
  .cta {
    padding-top: .25rem;
  }
}
</style>

{{ $currentPage := . }}
{{ $lang := $.Site.Language.Lang }}
{{ $path := cond (ne $lang "pt") (printf "%s/" $lang) "" }}

<nav class="fixed top-0 left-0 w-100 z-9999">
  
  <div id="menu"  class="custom-wrapper flex flex-column flex-row-l justify-start justify-between-l items-start center bg-white divider-grey relative">
    <div class="flex w-100 justify-between items-center z-1">
      <a href="/{{ $path }}" class="pv1 ph3 db w4">
        <img src="/images/uploads/vondME.png" alt="{{ $.Site.Title }} logo" class="db w-70"/>
      </a>

      <div class="custom-toggle pa3 db" id="toggle"><s class="bar"></s><s class="bar"></s></div>
    </div>
    <ul class="flex flex-column flex-row-l justify-end b grey-3 w-100">
      {{ range $.Site.Menus.main }}
      <li>
        <a
          id="{{ .Identifier }}" href="/{{ $path }}{{ .URL }}"
          class="it db pa3 no-underline 
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
              active
            {{ end }}
          "
        >
          {{ T .Identifier }}
        </a>
      </li>
      {{ end }}

      <li><a href="https://vendedor.vond.me" target="_blank" class="it cta db pa3 no-underline">{{ T "cta" }}</a></li>
      
    </ul>
  </div>
</nav>

<div id='covid19-note' class="fixed w-100 h-100 overflow-auto top-0 left-0 pt3 pt5-ns" style="z-index:10000;background-color:rgba(0,0,0,0.4);">
  <div class="br1 bg-white m-auto pa3 pt1-ns mh3 mh6-m">
    <div class="flex justify-between items-center mb3">
      <h2 class="f4 b">COVID-19</h2>
      <button class="f2 b raise" onclick="document.getElementById('covid19-note').style.display='none';sessionStorage.setItem('persist:@VondME_SPA/display-covid19-note','none');">&times;</button>
    </div>
    <div>
      <p>
        Em solidariedade aos empreendedores que estão enfrentando os efeitos da
        crise econômica decorrentes da trágica pandemia da COVID-19, a VondME,
        em parceria com a UFRN e o CORECON/RN (conselho regional de economia),
        criou condições especiais para facilitar o imediato ingresso das empresas
        potiguares no comércio on line, permitindo a continuidade de seus negócios
        mesmo durante o atual estado de calamidade pública. Agora o empreendedor
        poderá ingressar na plataforma, como pessoa física ou jurídica, podendo
        criar a sua vitrine, na VondME, sem custo de comissão pelos próximos 90
        (noventa) dias, pagando assim apenas a taxa de transação do cartão de
        crédito. A medida espera ajudar os empreendedores a enfrentar a pandemia
        do novo corona vírus.
      </p>
      <p>
        Clique no botão a seguir para criar a sua vitrine agora.
      </p>
    </div>
    <div class="flex justify-end">
      <a href="https://vendedor.vond.me/cadastro" target="_blank" class="btn raise cta">Criar vitrine</a>
    </div>
  </div>
</div>
