{{ if gt .Paginator.TotalPages 1 }}
 
<nav class="flex justify-between items-center pa3">
    {{ if .Paginator.HasPrev }}
    <a class="fl dib link dim black f6 f5-ns b pa2" title="Previous Page" href="{{ .Paginator.Prev.URL }}">
        &larr; Anterior
    </a>
    {{ end }}

    {{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}

    {{ if .Paginator.HasNext }}
    <a class="fr dib link dim black f6 f5-ns b pa2" title="Next Page" href="{{ .Paginator.Next.URL }}">
        Próximo &rarr;
    </a>
    {{ end }}
</nav>
 
{{ end }}