<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<div class="flex-m flex-column justify-center mhn2-m">
      <div class="ph2-m">
        <img src="images/uploads/home-about-section.png" alt="">
      </div>

			<div class="ph5-m">
				<h2 class="f3 f2-m b lh-title mb2">{{.heading}}</h2>

				<p class="f5 f4-m i-m">{{.text}}</p>
			</div>
		</div>

    {{ with .button }}
		<div class="tc">
			<a href="{{.link}}" class="btn raise">{{.text}}</a>
    </div>
    {{ end }}

	</div>
</div>
