{{ define "main" }}

{{ partial "translations" (dict "url" .Params.key "toor" $) }}

{{ partial "slim-jumbotron" (dict "pageTitle" .Params.PageTitle) }}

{{ partial "full-text" (dict "heading" .Params.about.heading "description" .Params.about.description) }}

{{ partial "full-text" (dict "heading" .Params.mission.heading "description" .Params.mission.description) }}

{{ partial "full-text" (dict "heading" .Params.vision.heading "description" .Params.vision.description) }}

{{ partial "full-text" (dict "heading" .Params._values.heading "description" .Params._values.description) }}

{{ end }}
