{{ define "main" }}

{{ partial "translations" (dict "url" .Params.key "toor" $) }}

{{/* partial "4-up" .Params.intro */}}

{{ with.Params.main }}
<div class="bg-grey-1">
  <div class="ph3 pv4 mw7 center">
    <h2 class="f4 f3-m b lh-title mb3">{{.heading}}</h2>

    <div class="flex flex-column-r flex-row-m items-center mhn2-m">
      <div class="w-100 w-70-m pr2-m">
        {{ range.description }}
        <p class="tl-m">{{ .text }}</p>
        {{ end }}
      </div>

      <div class="w-70 pl2-m">
        <img src="{{.image}}" alt="" />
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- <div class="bg-off-white pv4">
  {{/* partial "text-and-image-row" (dict "heading" .Params.intro.heading "text" .Params.intro.text "imageUrl" .Params.intro.image) */}}
</div> -->

{{ with.Params.benefits }}
<div class="bg-primary white">
  <div class="ph3 pv4 mw7 center">

    <div class="flex flex-column mb4">
      <span class="f5 f6-m">{{.heading}}</span>
      <span class="f4 f3-m b lh-title">{{.subheading}}<span>
    </div>

    <div class="flex flex-column flex-row-m items-center">
      {{ $order := 1 }}
      <div class="w-100 flex flex-column mr3-m">
        {{ range.blurbs._1st  }}
          {{ partial "ordered-media-block" (dict "item" . "ordernumber" $order) }}
          {{ $order = (add $order 1) }}
        {{ end }}
      </div>

      <div class="mw5 mw7-m">
        <img src="{{.image}}" alt="" />
      </div>

      <div class="w-100 flex flex-column ml3-m">
        {{ range.blurbs._2nd }}
          {{ partial "ordered-media-block" (dict "item" . "ordernumber" $order "dirreverse" 1) }}
          {{ $order = (add $order 1) }}
        {{ end }}
      </div>
    </div>

  </div>
</div>
{{ end }}

{{ with.Params.features }}
<div class="bg-pure-black white">
  <div class="ph3 pv4 mw7 center">

    <div class="flex flex-column mb4">
      <span class="f5 f6-m">{{.heading}}</span>
      <span class="f4 f3-m b lh-title">{{.subheading}}<span>
    </div>

    <div class="flex flex-column flex-row-m">
      {{ $list := .blurbs._1st }}
      {{ $len := (len $list) }}
      {{ range $index, $item := $list  }}
      <div class="w-33-m {{ if or (gt $index 0) (eq (add $index 1) $len) }}ml3-m{{ else }}mr3-m{{ end }}">
        {{ partial "media-block" $item }}
      </div>
      {{ end }}
    </div>

    <div class="flex flex-column flex-row-m">
      {{ $list = .blurbs._2nd }}
      {{ $len = (len $list) }}
      {{ range $index, $item := $list }}
      <div class="w-50-m {{ if or (gt $index 0) (eq (add $index 1) $len) }}ml3-m{{ else }}mr3-m{{ end }}">
        {{ partial "media-block" $item }}
      </div>
      {{ end }}
    </div>

  </div>
</div>
{{ end }}

<!-- Image grid -->
<!-- {{/* partial "image-grid" . }}
{{ end */}} -->

<!-- <div class="pb4">
  {{/* range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end */}}
</div> -->

<!-- Full-width image -->
<!-- <img src="{{/* .Params.full_image */}}" alt="" class="db w-100"> -->

{{ end }}
