{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.PageTitle "subtitle" .Params.subtitle) }}

{{/* partial "2-up" .Params */}}

{{ partial "short-text" .Params.intro }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Saiba mais" "buttonLink" "/benefits") }}

{{ partial "text-and-image-row" (dict "heading" .Params.features.heading "text" .Params.features.text "imageUrl" .Params.features.image) }}

{{ partial "short-text" .Params.blurb}}

{{/* partial "blog" . */}}

{{ end }}
